@page "/Dialog/Delete"
@using Altinn.ApiClients.Dialogporten.Features.V1
@rendermode InteractiveServer
@inject IServiceownerApi ServiceOwnerApi

<h3>Delete Dialog</h3>
<form method="post" onsubmit="@Submit" @formname="delete-dialog">
    <AntiforgeryToken/>
    <InputText
        @bind-Value="DialogId">
    </InputText>
    <button>Slett</button>
</form>
@if (_showPopUp)
{
    <PopUpMessage Header="@_header" Message="@_message" OnClick="@(() => _showPopUp = false)"></PopUpMessage>
}

@code {
    [SupplyParameterFromForm]
    private string? DialogId { get; set; } = "";

    private string? _header;

    private string? _message;
    private bool _showPopUp;

    private async Task Submit()
    {
        _message = null;
        _header = null;
        if (Guid.TryParse(DialogId, out var id))
        {
            var response = await ServiceOwnerApi.V1ServiceOwnerDialogsDeleteDialog(id, null, CancellationToken.None);
            _header = $"{response.StatusCode} {(int)response.StatusCode}";
            if (!response.IsSuccessStatusCode)
            {
                _message = response.Error.Content;
            }
        }
        else
        {
            _header = $"Failed to parse \"{DialogId}\" to an Guid";
        }


        _showPopUp = true;
    }
}