@using Microsoft.AspNetCore.Components.Server.ProtectedBrowserStorage
@inject ProtectedLocalStorage ProtectedLocalStore
@rendermode InteractiveServer
@page "/PatchDialogTest"
<h3>PatchDialog</h3>

<InputSelect @bind-Value="@DialogId">
    @foreach (var status in _dialogs)
    {
        <option value=@(status)>@status</option>
    }
</InputSelect>

@code {
    private string DialogId { get; set; } = "";
    private List<string> _dialogs = [];
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        await base.OnAfterRenderAsync(firstRender);
        if (firstRender)
        {
            var temp = await ProtectedLocalStore.GetAsync<List<string>>("dialogs");
            Console.WriteLine("hei");
            if (temp.Success)
            {
                Console.WriteLine(temp.Value!.Count());
                _dialogs = temp.Value!;
                StateHasChanged();
            }
        }
    }
}