@using Digdir.BDB.Dialogporten.ServiceProvider.Data
@using Microsoft.AspNetCore.Identity
@inject NavigationManager NavigationManager;
@inject SignInManager<IdentityUser> SignInManager;
@rendermode InteractiveServer
<button @onclick="LogoutUser" class="nav-link">
    <span class="bi bi-arrow-bar-left-nav-menu" aria-hidden="true"></span> Logout
</button>

@code {

    private void LogoutUser()
    {
        NavigationManager.NavigateTo("/Account/Logout?returnUrl=/", true);
    }
}
