@rendermode InteractiveServer
<div style="padding: 10px; border: 1px solid; background-color: white">
    <h4>@Fields.PropertyName</h4>
    @{
        if (_enabled)
        {
            var temp = Data[Fields.PropertyName] as Dictionary<string, object?>;
            <FieldRecordComp Data="@temp"
                             FieldRecords="@Fields.Properties"/>
            <button type="button" onclick=@Disable>Disable</button>
        }
        else
        {
            <p>@_enabled</p>
            <button type="button" onclick=@Enable>Enable</button>
        }

    }
</div>

@code {

    [Parameter]
    public required FieldRecord.ObjectRecord Fields { get; set; }

    [Parameter]
    public required Dictionary<string, object?> Data { get; set; }

    private Dictionary<string, object>? Value { get; set; }


    private bool _enabled = false;


    protected override void OnInitialized()
    {
        base.OnInitialized();
        Value = null;
        Data.TryAdd(Fields.PropertyName, Value);
    }

    private void Enable()
    {
        _enabled = true;
        Data[Fields.PropertyName] = new Dictionary<string, object>();
    }

    private void Disable()
    {
        _enabled = false;
        var temp = (Dictionary<string, object?>)Data[Fields.PropertyName]!;
        temp[Fields.PropertyName] = null;
    }
}
