@using Altinn.ApiClients.Dialogporten.Features.V1
<fieldset>

    <div>
        <label for="mediaType">Media Type:</label>
        <InputText id="mediaType" @bind-Value="ContentValue.MediaType"/>
        <InputLocalization
            Value="@ContentValue.Value"
            ContentValueChanged="OnLocalizationChanged"/>
    </div>

</fieldset>

@code {
    [Parameter]
    public required V1CommonContent_ContentValue ContentValue { get; set; }

    [Parameter]
    public EventCallback<V1CommonContent_ContentValue> ContentValueChanged { get; set; }

    protected override void OnInitialized()
    {
        base.OnInitialized();
        ContentValue = new V1CommonContent_ContentValue
        {
            Value = new List<V1CommonLocalizations_Localization>()
        };
    }
    private void OnLocalizationChanged(ICollection<V1CommonLocalizations_Localization> localization)
    {
        ContentValue.Value = localization;
        ContentValueChanged.InvokeAsync(ContentValue);
    }
}