@inherits InputBase<V1CommonContent_ContentValue>
@using System.Diagnostics.CodeAnalysis
@using Altinn.ApiClients.Dialogporten.Features.V1
<fieldset>

    <div>
        <label for="mediaType">Media Type:</label>
        <InputText id="mediaType" @bind-Value="Value!.MediaType"/>
        <InputLocalization @bind-Value="@Value.Value"/>
    </div>

</fieldset>

@code {
    protected override void OnInitialized()
    {
        base.OnInitialized();
        Value = new V1CommonContent_ContentValue
        {
            Value = new List<V1CommonLocalizations_Localization>(),
            MediaType = ""
        };
    }
    protected override bool TryParseValueFromString(string? value, [MaybeNullWhen(false)] out V1CommonContent_ContentValue result, [NotNullWhen(false)] out string? validationErrorMessage)
    {
        result = Value ?? new V1CommonContent_ContentValue();
        validationErrorMessage = "";
        return true;
    }
}