@inherits InputBase<V1CommonContent_ContentValue>
@using System.Diagnostics
@using System.Diagnostics.CodeAnalysis
@using Altinn.ApiClients.Dialogporten.Features.V1
<fieldset>
    @if (Value is null) throw new UnreachableException();
    <div>
        <label>Media Type:</label>
        <InputText AdditionalAttributes="@AdditionalAttributes" @bind-Value="Value.MediaType"/>
        <InputLocalization AdditionalAttributes="@AdditionalAttributes" @bind-Value="@Value.Value"/>
    </div>

</fieldset>

@code {
    protected override void OnParametersSet()
    {
        base.OnParametersSet();
        if (Value == null)
        {
            Value = new V1CommonContent_ContentValue
            {
                Value = new List<V1CommonLocalizations_Localization>(),
                MediaType = ""
            };
        }
        else
        {
            // Ensure Value.Value is initialized if it's null
            Value.Value ??= new List<V1CommonLocalizations_Localization>();
        }

    }
    protected override bool TryParseValueFromString(string? value, [MaybeNullWhen(false)] out V1CommonContent_ContentValue result, [NotNullWhen(false)] out string? validationErrorMessage)
    {
        result = Value ?? new V1CommonContent_ContentValue();
        validationErrorMessage = "";
        return true;
    }
    
}